<div class="container2">

<div class="logosize2">
      <img class="logo2" src='assets/fredcharts3.png'> 
      <p>Welcome to A quick demo of Highcharts.      </p>
      <br><br>
      <mat-card class="rentalcard2"> 
          <mat-card-content>
          <b>To Do List:</b>
          <ol>
            <li> Create another Box with Industry news (I found a json feed for it).</li>
            <li> loop through the actual feed to get the data keys, I didn't get the chance to do it, 
              because I faced a known bug (forExport).</li>
           </ol>
           Thank you!
          </mat-card-content>
          </mat-card>  
  
</div>

  </div>