<div class="container">
<mat-card class="buttonarea">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical>
                <mat-button-toggle (click)="use('APPL')" ><b>Market Summary ></b> <small>Apple Inc. </small><p>NASDAQ: AAPL</p> </mat-button-toggle>
                <mat-button-toggle (click)="use('GOOG')" ><b>Market Summary ></b> <small>Alphabet Inc Class C. </small><p>NASDAQ: GOOG</p> </mat-button-toggle>
                <mat-button-toggle (click)="use('FB')" ><b>Market Summary ></b> <small>Facebook, Inc. Common Stock </small><p>NASDAQ: FB</p> </mat-button-toggle>
              </mat-button-toggle-group>
        <!-- <mat-nav-list>

    <a mat-list-item  (click)="use('APPL')" [ngClass]="{'active':clicked}" routerLink="/home" routerLinkActive="active">APPL</a>
    <a mat-list-item  (click)="use('GOOG')" [ngClass]="{'active':clicked}" routerLink="/home" routerLinkActive="active">GOOG</a>
    <a mat-list-item  (click)="use('FB')" [ngClass]="{'active':clicked}" routerLink="/home" routerLinkActive="active">FB</a>
        </mat-nav-list> -->

</mat-card>

<div *ngIf="stockx == 'APPL'">
<mat-card class="rentalcard"><mat-card-content><div [chart]="APPL"></div></mat-card-content></mat-card>
</div><div *ngIf="stockx == 'GOOG'">
<mat-card class="rentalcard"><mat-card-content><div [chart]="GOOG"></div></mat-card-content></mat-card>
</div><div *ngIf="stockx == 'FB'">
<mat-card class="rentalcard"><mat-card-content><div [chart]="FB"></div></mat-card-content></mat-card>
</div>



<div *ngIf="stockx == 'APPL'">
        <div class="scroll1">
        <div *ngFor="let res of Apple"> 
              
        <mat-card class="rentalcard2">   
<mat-card-content>
                <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{ res.title}}
                        </mat-card-title>
                        <mat-card-subtitle>{{ res.author_name}}</mat-card-subtitle>
                      </mat-card-header>
                      <a target="_blank"  href="{{res.url}}"><img  mat-card-image src="{{res.thumbnail}}" alt="{{res.tag}}" onerror="this.style.display='none'"></a>
                      <mat-card-content>
                        <p> {{ res.summary}}   </p>
                      </mat-card-content>
 </mat-card-content></mat-card>
</div>
        </div>
        <div *ngIf="stockx == 'GOOG'">     

                <div *ngFor="let res of goog"> 
                        <mat-card class="rentalcard2">   
                <mat-card-content>
                                <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title>
                                            {{ res.title}}
                                        </mat-card-title>
                                        <mat-card-subtitle>{{ res.author_name}}</mat-card-subtitle>
                                      </mat-card-header>
                                      <a target="_blank" href="{{res.url}}"><img  mat-card-image src="{{res.thumbnail}}" alt="{{res.tag}}" onerror="this.style.display='none'"></a>
                                      <mat-card-content>
                                        <p> {{ res.summary}}   </p>
                                      </mat-card-content>
                 </mat-card-content></mat-card>
                </div>           


        </div>
        
        <div *ngIf="stockx == 'FB'">
                <div *ngFor="let res of fb"> 
                        <mat-card class="rentalcard2">   
                <mat-card-content>
                                <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title>
                                            {{ res.title}}
                                        </mat-card-title>
                                        <mat-card-subtitle>{{ res.author_name}}</mat-card-subtitle>
                                      </mat-card-header>
                                      <a target="_blank" href="{{res.url}}"><img  mat-card-image src="{{res.thumbnail}}" alt="{{res.tag}}" onerror="this.style.display='none'"></a>
                                      <mat-card-content>
                                        <p> {{ res.summary}}   </p>
                                      </mat-card-content>
                 </mat-card-content></mat-card>
                </div>

</div>

</div>

</div>